*{
    padding:0;
    margin:0;
}
body{
    background-color:#e6edd9;
    color:White;
}
.texto{
    text-align:justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    padding:5px 25px;
    color:#000;
}
.img{
    width:100;
    border-radius:1px;
    padding:5px;
    justify-items: center;
}
.encabezado-articulo{
    padding:10px,10px;
    text-align:center;
    background-color:rgb(83,152,87);
    color:rgb(255,255,255);
    margin:1em 2em;
    border-radius:5px;
}
.encabezado-aside{
    padding:10px 10px;
    text-align:center;
    background-color:rgb(89,161,81);
    color:White;
    margin:1em 2em;
}
.menu-aside{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    padding:0 20px;

}
.lista-aside{
    padding:10px;
}
.lista-aside li{
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #000;
    padding:10px;   
}
/* selector ID*/
#contenedor{
    width:900px;
    height:1000px;
    background-color:#e6edd9;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado{
 height:15%;
 background: color #6c8446;
 margin: 1em;
 border-radius:5px;
 text-align: center;
 padding: 0 50px;
}
#menu {
    height: 5%;
    background-color: #7e815b;
    margin: 1em;
    border-radius: 5px;
}
#contenido{
    height:64%;
    width:61%;
    background-color: #b5bf9a;
    margin:0.5em;
    display:inline-block;
    border-radius: 5px;
    text-align: center;
}
#fueraSeccion{
    height: 35%;
    width: 36%;
    background-color:#b5bf9a;
    display:inline-block;
    vertical-align:top;
    border-radius:5px;
}
#pie{
    height: 10%;
    background-color:#b5bf9a;
    margin: 1.5em;
    text-align:center;
    padding:5px;
}
#pie h4{
    padding:15px;
    font-size:30px;
}